<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VooController</servlet-name>
        <servlet-class>controller.VooController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssentoController</servlet-name>
        <servlet-class>controller.AssentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassagemController</servlet-name>
        <servlet-class>controller.PassagemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosController</servlet-name>
        <servlet-class>controller.DadosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompraController</servlet-name>
        <servlet-class>controller.CompraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckinController</servlet-name>
        <servlet-class>controller.CheckinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BilheteController</servlet-name>
        <servlet-class>controller.BilheteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepararTrocaAssentoController</servlet-name>
        <servlet-class>controller.PrepararTrocaAssentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrocarAssentoController</servlet-name>
        <servlet-class>controller.TrocarAssentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VooController</servlet-name>
        <url-pattern>/VooController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssentoController</servlet-name>
        <url-pattern>/AssentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassagemController</servlet-name>
        <url-pattern>/PassagemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosController</servlet-name>
        <url-pattern>/DadosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompraController</servlet-name>
        <url-pattern>/CompraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckinController</servlet-name>
        <url-pattern>/CheckinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BilheteController</servlet-name>
        <url-pattern>/BilheteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepararTrocaAssentoController</servlet-name>
        <url-pattern>/PrepararTrocaAssentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrocarAssentoController</servlet-name>
        <url-pattern>/TrocarAssentoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
